.fixed .column-parameter { width: 15%; }
.fixed .column-value { width: 85%; }
/*Marker-Tabelle*/
.fixed .column-id { width: 45px; }
.fixed .column-markername { width: 180px; }
.fixed .column-layername { width: 240px; }
.fixed .column-coords { width: 105px; }
.fixed .column-count { width: 65px; }
.fixed .column-mapsize { width: 90px; }
.fixed .column-zoom { width: 45px; }
.fixed .column-icon { width: 57px; }
.fixed .column-popuptext { width: 210px; }
.fixed .column-openpopup { width: 60px; }
.fixed .column-code { width: 150px; }
.fixed .column-geojson { width: 80px;text-align:center; }
.fixed .column-georss { width: 68px;text-align:center; }
.fixed .column-kml { width: 50px;text-align:center; }
.fixed .column-fullscreen { width: 82px;text-align:center; }
.fixed .column-qr-code { width: 72px;text-align:center; }
.fixed .column-wikitude { width: 80px;text-align:center; }
/*Icon Preview on marker page*/
div#previewer { width: 40px; height: 40px; text-align: center; border: 1px solid lightgray; border-radius: 5px; padding:5px; }
div#previewer div { margin-top: 50%; }
img#preview { margin-top: -50%; }
/*tinymce border and background*/
.wp_themeSkin .mceIframeContainer  { border:1px solid #E2E2E2;background:#FFF; }
/*options page*/
.ui-tabs-nav {
	border-bottom: 1px solid #ccc;
	height: 27px;
	margin: 20px 0;
	padding: 0;
}
.ui-tabs-nav li {
	display: block;
	float: left;
	margin: 0;
}
.ui-tabs-nav li a {
	padding: 4px 20px 6px;
	font-weight: bold;
}
.ui-tabs-nav li a {
	border-style: solid;
	border-color: #CCC #CCC #F9F9F9;
	border-width: 1px 1px 0;
	color: #C1C1C1;
	text-shadow: rgba(255, 255, 255, 1) 0 1px 0;
	display: inline-block;
	padding: 4px 14px 6px;
	text-decoration: none;
	margin: 0 6px -1px 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-khtml-border-top-left-radius: 5px;
	-khtml-border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.ui-tabs-nav li.ui-tabs-selected a,
.ui-tabs-nav li.ui-state-active a {
	border-width: 1px;
	color: #464646;
}
.ui-tabs-panel {
	clear: both;
}
.ui-tabs-panel h3 {
	font: italic normal normal 24px/29px Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	margin: 0;
	padding: 0 0 5px;
	line-height: 35px;
	text-shadow: 0 1px 0 #fff;
}
.ui-tabs-panel h4 {
	font-size: 15px;
	font-weight: bold;
	margin: 1em 0;
}
.lmmsettings h3, .lmmsettings table, .leafletmapsmarker-listings {
	display: none;
}