/* TinyMCE specific rules for Leaflet Maps Marker */
html .mcecontentbody {
	max-width:300px;
	word-wrap: break-word; 
}
.mcecontentbody a {
	text-decoration:none;
}
.mcecontentbody a:hover {
	text-decoration:underline;
}
.mcecontentbody img {
	max-width:245px !important;
	height:auto;
}